[submodule ".zsh_custom/plugins/zsh-syntax-highlighting"]
	path = .zsh_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh_custom/plugins/zsh-autosuggestions"]
	path = .zsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".zsh_custom/themes/powerlevel9k"]
	path = .zsh_custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule ".jenv"]
	path = .jenv
	url = https://github.com/gcuisinier/jenv.git
[submodule ".vim/pack/minpac/opt/minpac"]
    path = .vim/pack/minpac/opt/minpac
    url = https://github.com/k-takata/minpac.git
